<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ReffPlace</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>ReffPlace</h1>
        <p>Sistema de gerenciamento</p>
    </header>

    <main>

        <h2>Dashboard</h2>

        <div class="card">
            <h3>Calculadora de custos</h3>
            <p>Calcule e salve seus custos.</p>

            <button>Entrar</button>
        </div>

    </main>

</body>
</html>